body {
  background: linear-gradient(180deg, 
    rgb(18, 18, 18) 100%,
    rgb(30, 30, 30) 0%,
    rgb(18, 18, 18) 100%
  );
  color: #e1e1e1;
  font-feature-settings: "rlig" 1, "calt" 1;
}


#footer {
  background: #272833;
  padding: 1em 0;
  text-align: center;
}

/* 强制覆盖Radio组件选中状态的样式 */
label[data-selected="true"] {
  background-color: transparent !important; /* 背景透明 */
  color: #a0076d !important; /* 选中文字颜色 */
}

label[data-selected="true"] > span {
  background-color: transparent !important; /* 外圆圈背景透明 */
  border-color: #a0076d !important; /* 外圆圈边框颜色 */
}

label[data-selected="true"] > span > span {
  background-color: #a0076d !important; /* 内圆圈颜色 */
}

/* 强制覆盖未选中状态的样式 */
label[data-selected="false"] {
  background-color: transparent !important; /* 背景透明 */
  color: #9ca3af !important; /* 未选中文字颜色 */
}

label[data-selected="false"] > span {
  background-color: transparent !important; /* 外圆圈背景透明 */
  border-color: #9ca3af !important; /* 外圆圈边框颜色 */
}

label[data-selected="false"] > span > span {
  background-color: transparent !important; /* 内圆圈透明 */
}

/* 通用渐变按钮样式 */
.btn-gradient {
  background: linear-gradient(to right, #5b00d3, #7b00ac); /* 渐变背景色 */
  color: #fff; /* 按钮文字颜色 */
  border: 1; /* 移除边框 */
  transition: background-color 0.3s ease, transform 0.2s ease; /* 添加过渡效果 */
}

.btn-gradient:hover {
  background: linear-gradient(to right, #5b00d3, #7b00ac); /* 悬停时反转渐变色 */
  transform: scale(1.05); /* 悬停时放大 */
}

.btn-gradient:disabled {
  background: #505050; /* 禁用状态的背景色 */
  color: #a1a1a1; /* 禁用状态的文字颜色 */
  cursor: not-allowed; /* 禁用状态的鼠标样式 */
  opacity: 0.6; /* 禁用状态的透明度 */
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 6rem;
  z-index: 10;
  background: rgba(85, 0, 128, 0.3); /* 初始背景色 */
  border-bottom-right-radius: 1rem;
  color: rgb(104, 96, 96);
  transition: background-color 0.3s ease;
}

.label-hover {
  background-color: rgba(169, 85, 247, 0.459); /* 悬停时的背景色 */
  color: rgba(255, 255, 255, 0.822);
}


.flex-after-content::after {
  content: "";
  flex: auto;
}
.ant-select-selector, .ant-select-dropdown {
  background: #27272A !important;
  border: none!important;
  color: #fff !important;
}
.ant-select-selector input::placeholder {
  color: #fff !important;
}
.ant-select-item-option-content, .ant-select-arrow {
  color: #fff !important;
}
.ant-select-item-option-selected {
  background: #333 !important;
}
* {
  border: 0 solid #e5e7eb;
}
